*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.rounded {
    background-color: var(--color1);
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.darkBg {
    background-color: var(--color2);
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 5px;
}
body {
    background-image: url(./images/background.jpg);
    padding: 20px;
    animation: imgAnimation 1000s infinite linear;
    color: var(--text-color)
}
body {
    --text-color: black;
    --color1: rgba(230, 230, 230, 0.5);
    --color2: rgba(200, 200, 200, 0.8);
}
body.dark {
    --text-color: white;
    --color1: rgba(130, 130, 130, 0.5);
    --color2: rgba(100, 100, 100, 0.8);
}
@keyframe imgAnimation {
    0%{
        background-position: left top;
    }
    25%{
        background-position: right top;
    }
    50%{
        background-position: right bottom;
    }
    75%{
        background-position: left bottom;
    }
    100%{
        background-position: left top;
    }
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#changeBtn {
    width: 50px;
    cursor: pointer;
    transition: 200ms;
}
#changeBtn.active {
    transform: rotate(180deg);
    filter: invert(1);
}
nav.darkBg {
    padding: 5px 10px;
}
nav.darkBg button {
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    cursor: pointer;
    font-size: 20px;
    color: var(--text-color)
}
nav.darkBg button.active {
    background-color: orange;
}

.search {
    display: flex;
    gap: 10px;
}
.search input {
    width: 300px;
    border: none;
    flex-grow: 1;
    background-color: rgb(210, 210, 210, 0.7);
    outline: none;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 20px;
}
.search button {
    border: 0;
    padding: 5px 20px;
    cursor: pointer;
    margin-bottom: 0px;
}
main.rounded {
    padding: 20px;
}
.textCenter {
    text-align: center;
}

.movieImage {
    min-height: 600px;
    width: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}
.movie {
    flex-direction: row;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.movieDesc {
    flex: 300px 1 0;
}

.desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 5px;
    background-color: rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
}
.similarMovies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
.similarCard {
    height: 400px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.similarCard h3 {
    text-align: center;
    border-radius: 0 0 10px 10px;
    width: 100%;
    padding: 20px 0px;
    background-color: rgb(210, 210, 210, 0.7)
}
.favStar {
    width: 45px;
    height: 45px;
    border-radius: 5px;

    background-color: var(--color1);
    background-image: url(./images/favBtn.svg);
    background-repeat: no-repeat;
    background-size: 35px;

    position: absolute; 
    top: 20px;
    left: 20px;

    filter: invert(1);
    background-position: top 5px left 5px;
}
.favStar.active {
    filter: invert(21%) sepia(86%) saturate(2811%) hue-rotate(1deg) brightness(103%) contrast(101%);
}
.linear-loading {
    height: 4px;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    &:before {
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    background-color: white;
    width: 50%;
    top: -1px;
    left: 0;
    animation: slide-away 3s infinite linear;
    }
    &:after {
    content: "";
    display: block;
    position: absolute;
    height: 6px;
    background-color: orange;
    width: 25%;
    top: -1px;
    left: 0;
    animation: slide-away 2s infinite linear;
  }
}
@keyframes slide-away {
    0%   {transform: translate(-100%,0)}
    100% {transform: translate(400%,0)}
}
.message {
    display: none;
    background-color: rgb(221, 113, 113, 0.5);
}


main, .linear-loading {
    display: none;
}
